*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
}


* html .wrapper {
    height: 100%;
}

.wrapper {
    width: 960px;
    margin:0 auto;
    min-height: 100%;
}

header{
    height: 50px;
}

.menu{
    margin-top: 10px;
}

ul {
    list-style-type: none;
    
}

li, #login {
    
    display: inline;
}

#login, header{
    color: #FFFFFF;
    background-color: #63D43D;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #63D43D;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active, .confirm:hover, #send:hover {
    background-color: #7A991A;
}

#infouser{
    float: right;
    margin: 10px;
}

#avatar{
    width: 5%;
    height: 5%;
    position: relative;
    left: 810px;
    top: 0px;
}

#photo{
    width: 30%;
    height: 30%;
    float: right;
    margin: 10px;
}

h1, h2{
    text-align: center;
    text-shadow: .2em .2em .15em silver;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 20px;
}

#education{
    margin-left: 300px;
}

.titlename {
    font-style: italic;
    font-weight: bold;
}

#buffer {
    height: 50px;
}

footer{
    background-color:#63D43D;
    clear: both;
    height: 20px;
    margin-top: -20px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#footertext{
    text-align: center;
}

.confield, .infofield{
   clear:both; 
   text-align:right;
   line-height:30px;
   border: 1px inset;
}

.conlabel, .infolabel {
    float:left;
    padding-right:10px;
}

#conmain, #regist, #changeinfo{
    float: left;
    margin-left: 300px;
    margin-top: 20px;
}

#delete{
    text-align: center;
    margin-top: 20px;

}

.confirm{
    margin-top: 20px;
    margin-left: 200px;
    background: #63D43D;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#send{
    background: #63D43D;
    width: 50px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;

}

.success{
    margin-left: 300px;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 500;
    color: green;
}

#info{
    margin-left: 40%;
    margin-top: 100px;
}


