{% extends "resume/base.html" %}

{% block title %}Personal{% endblock %}

{% block content %}
<form role="form" action='' method='post' enctype="multipart/form-data">{% csrf_token %}
    <div id="changeinfo">
        <div class="infofield">
            {{ form.name.errors }}
            <label class="infolabel">Name:</label>
            {{ form.name }}
        </div>
        <div class="infofield">{{ form.first_name.errors }}
            <label class="infolabel">Frist name:</label>
            {{ form.first_name }}
        </div>
        <div class="infofield">{{ form.last_name.errors }}
            <label class="infolabel">Last name:</label>
            {{ form.last_name }}
        </div>
        <div class="infofield">{{ form.email.errors }}
            <label class="infolabel">E-mail:</label>
            {{ form.email }}
        </div>
        <div class="infofield">{{ form.phone_number.errors }}
            <label class="infolabel">Phone:</label>
            {{ form.phone_number }}
        </div>
        <div class="infofield">{{ form.date_of_birth.errors }}
            <label class="infolabel">Date of birth(YYYY-MM-DD):</label>
            {{ form.date_of_birth }}
        </div>
        <div class="infofield">
            <label class="infolabel">Avatar:</label>
            <input type="file" enctype="multipart/form-data" name="avatar" >{{user.avatar}}</input>
        </div>

        <button type="submit" class="confirm" value="Send">Send</button>
        <button><a href="del_user/">Delete</a></button>
    </div>
</form>
{% endblock %}
