{% extends "resume/base.html" %}

{% block title %}Send mail{% endblock %}

{% block content %}
<form action="/contact/" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div id="conmain">
        <div class="confield">
            <label for="id_subject" class="conlabel">Тема:</label>
            {{ form.subject.errors }}
            {{ form.subject }}
        </div>
        <div class="confield">
            <label for="id_sender" class="conlabel">E-mail:</label>
            {{ form.sender.errors }}
            {{ form.sender }}
        </div>
        <div class="confield">
            <label for="id_message" class="conlabel">Сообщение:</label>
            {{ form.message.errors }}
            {{ form.message }}
        </div>
        <div class="confield">
            {{ form.copy.errors }}
            <label for="id_copy" class="conlabel">Отправить копию себе {{ form.copy }}</label>
        </div>
        <input type="submit" value="Отправить" class="confirm">
    </div>
</form>
 {% endblock %}
