{% extends 'resume/base.html' %}

{% block title %}Delete{% endblock %}
 
{% block content %}
<form method="POST" action='' enctype="multipart/form-data">
    {% csrf_token %}
    <div id="delete">
        <p>Delete user?</p>
        <input type="submit" class="confirm" value="Delete" />
        <button><a href="{% url 'home' %}">Back</a></button>     
    </div>
</form>          
{% endblock %}