{% extends "resume/base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<h1>Лизунов Дмитрий Сергеевич</h1>
<img id="photo" src="/media/dima.png" alt="">
<p class="titlename">Дата рождения:</p>25 февраля 1993 года (22 года)
<p class="titlename">Гражданство:</p> Украина
<p class="titlename">Семейное положение:</p> не женат
<p class="titlename">Телефон:</p> +38-096-938-79-00
<p class="titlename">Эл. почта:</p> DimaLizunov@gmail.com

<h2 id="education">Образование:</h2>
<p>2010 – 2014, Запорожский национальный технический университет, факультет радиоэлектроники и телекоммуникаций, специальность – системы технической защиты информации, квалификация: бакалавр (диплом с отличием).<br>
2014 – настоящее время, Запорожский национальный технический университет, факультет радиоэлектроники и телекоммуникаций, специальность – системы технической защиты информации, квалификация: магистр.<br>
Опыт работы:
16.04.2015 – 30.06.2015, старший лаборант кафедры защиты информации ЗНТУ.<p>
<h2>Умения и навыки:</h2>
<p>Знание языков: русский, украинский - свободно, английский – средний (на уровне чтения технической документации).<br>
Применяю HTML5, CSS3 для решения различного рода задач. Обладаю базовыми знаниями ООП. Самостоятельно изучаю Django и Python (есть программные комплексы «Заметки» и «Резюме»).</p>
<h2>Личные качества:</h2> 
<p>Коммуникабельность, обучаемость, стрессоустойчивость, креативность, пунктуальность, инициативность, желание развиваться.</p>
{% endblock %}}