{% extends "resume/base.html" %}

{% block title %}Info{% endblock %}

{% block content %}
<div id="info">
  <h3>Please, enter your button:</h3>
  <div>
     <button><a href="{% url 'change_info' pk=user.pk %}">Personal information</a></button>
     <button><a href="{% url 'auth_password_change' %}">Change password</a></button>
     </div>
</div>
 {% endblock %}