{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{% static 'style.css' %}" rel="stylesheet" media="screen">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <ul>
                    {%if not user.is_authenticated %}
                        <li><button class="menu"><a href="{% url 'login' %}"><p class="menuname">Home</p></a></button></li>
                        <li><button class="menu"><a href="{% url 'contact' %}"><p class="menuname">Contact form</p></a></button></li>
                        <li>{% block header%}{%endblock%}</li>
                        <li><button class="menu"><a href="{% url 'registration_register' %}"><p class="menuname">Registration</p></a></button></li>              
                    {% else %}
                        <li><button class="menu"><a href="{% url 'home' %}"><p class="menuname">Home</p></a></button></li>
                        <li><button class="menu"><a href="{% url 'contact' %}"><p class="menuname">Contact form</p></a></button></li>
                        <li><button class="menu"><a href="{% url 'info' %}">Cabinet</a></button></li>
                        <li><button class="menu"><a href="{% url 'logout' %}"><p class="menuname">Exit</p></a></button></li>
                        <li><img src="/media/{{ user.avatar }}" id="avatar" align="left"></li>
                        <li id="infouser">{{user.first_name}} {{ user.last_name|make_list|first }}.</li>
                    {% endif %} 
                </ul>
            </nav>
        </header>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div id="buffer"></div>
    </div>
    <footer>
            <p id="footertext">&copy; Dmitriy Lizunov 2015</p>
    </footer>
</body>
</html>