{% extends "registration/registration_base.html" %}

{% block title %}Change password{% endblock %}

{% block content %}
<form role="form" action='' method='post'>{% csrf_token %}

<div id="changeinfo">

<div class="infofield">
	{{ form.old_password.errors }}
	<label class="infolabel">Old password:</label>
		{{ form.old_password }}
   
    </div>

    <div class="infofield">{{ form.new_password1.errors }}
    <label class="infolabel">New password:</label>
        {{ form.new_password1 }}
    
    </div>

<div class="infofield">{{ form.new_password2.errors }}
<label class="infolabel">Confirm:</label>
    
    {{ form.new_password2 }}
    
</div>

     <button type="submit" class="confirm" value="Send">Send</button>
</div>
 </form>
 {% endblock %}