{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
<div id="regist">

<div class="infofield">
	{{ form.name.errors }}
	<label class="infolabel">Name:</label>
		{{ form.name }}
    
    </div>

    <div class="infofield">{{ form.first_name.errors }}
    <label class="infolabel">Frist name:</label>
        {{ form.first_name }}
    
    </div>

<div class="infofield">{{ form.last_name.errors }}
<label class="infolabel">Last name:</label>
    
    {{ form.last_name }}
    
</div>
<div class="infofield">{{ form.email.errors }}
<label class="infolabel">E-mail:</label>
    
    {{ form.email }}
    
</div>
<div class="infofield">{{ form.phone_number.errors }}
<label class="infolabel">Phone:</label>
    
    {{ form.phone_number }}
    
</div>
<div class="infofield">{{ form.date_of_birth.errors }}
<label class="infolabel">Date of birth(YYYY-MM-DD):</label>
    
    {{ form.date_of_birth }}
    
</div>
<div class="infofield">{{ form.password1.errors }}
<label class="infolabel">Password:</label>
    
    {{ form.password1 }}
    
</div>
<div class="infofield">{{ form.password2.errors }}
<label class="infolabel">Password confirmation:</label>
    
    {{ form.password2 }}
    
</div>
<div class="infofield">{{ form.captcha.errors }}
<label class="infolabel"></label>
    
    {{ form.captcha }}
    
</div>

    <input type="submit" value="{% trans 'Submit' %}" class="confirm">

    </div>
</form>
{% endblock %}
